{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="container">
        {% for id in ids %}
            <div id="{{id}}"></div>
        {% endfor %}
    </div>
    <!---
    <script type="text/javascript">
        const go_graphs = {{go_graphJSON | safe}};
        const go_ids = {{go_ids | safe}};
        for(let i in go_graphs) {
            Plotly.plot(go_ids[i], go_graphs[i].data, go_graphs[i].layout);
        }
    </script>
    -->

{% endblock %}
